html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

.main {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.body {
  background-color: white;
}

.darkBackground {
  background-color: rgb(198, 191, 191);
}

