.section {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.section__header {
  color: rgb(54, 54, 192);
}

.section__subHeader {
  color: rgb(60, 151, 211);
}

.section__mainImage {
    width: 20%;
    border-radius: 30%;
  }

.section__image {
    width: 60%;
    border-radius: 10px;
  }

  .section__button {
    background-color: hsl(204, 63%, 53%);
    color: white;
  }

  .section__button:hover {
    background-color: hsl(204, 63%, 35%);
  }

.section__table {
  border-collapse: collapse;
  background-color: white;
  margin: 0 auto;
}

.section__tableRow:nth-child(even) {
  background: rgb(230, 230, 237);
}

.section__tableRow:hover {
  background: rgb(88, 207, 237);
}

.section__tableCell {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

.section__tableButton {
  margin: 10px;
  padding: 5px;
}
